body {
    overflow: hidden;
}

.cell {
    transition: all 0.8s ease-in-out;
    background-color: #454545;
}

.a {
    background-color: #9649CB;
    transition: all 0.4s ease-in-out;
    box-shadow: 3px 0px 7px 0px rgba(127,7,153,1);
    z-index: 10;
}

.b {
    background-color: #7F0799;
    transition: all 0.4s ease-in-out;
    box-shadow: inset 0px 1px 2px 0px rgba(150,73,203,1);
    width: 88px;
    height: 88px;
    z-index: 10;
}

.c {
    background-color: #D3FFF3;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 7px 0px rgba(175,187,242,1);
    z-index: 10;
}

.d {
    background-color: #AFBBF2;
    transition: all 0.4s ease-in-out;
    box-shadow: inset 4px 0px 37px 0px rgba(211,255,243,1);
    width: 88px;
    height: 88px;
    z-index: 10;
}

.looking {
    box-shadow: inset 0px 0px 7px 0px rgba(100, 100, 255, 0.5);
    z-index: 10;
    transition: 0.01s all ease-in-out;
}






